<div header-directive></div>
<div class="container" style="margin-top: 80px">
    <h1><strong>Contact Us</strong></h1>
<p>
    <p>
    eSewa Fonepay Pvt. Ltd
    Lalchan Plaza, 8th Floor
    Hattisar, Kathmandu, Nepal
    Tel: 977-14442435
</p>
<p>
    Customer Support
    Toll Free No: 1660-01-02121
    Email: csd@esewa.com.np
    Viber No: 9868842121
    (For general inquiry and technical assistance)
</p>
<p>
    For Agent Inquiry
    Arun Phuyal ( Head- Agent Managment)
    Email: agent@esewa.com.np
    Tel: 977- 14438721
</p>
<p>
    For Merchant/Service Provider
    Lal Prasad Aryal
    Email: marketing@esewa.com.np / merchant@esewa.com.np
    Tel: 977-14414210
    (To integrate eSewa in your Business and website)
</p>
<p>
    Branch Office
    Hospital Line/Puspalal Park, Butwal, Rupandehi, Lumbini, Nepal
    4th Floor of National Path Lab Building
    Tel: 977- 71546782
    Email: butwal@esewa.com.np

</p>
</div>