<div class=" ">
<nav class="nav navbar-fixed-top " style="width: 100%;height: 50px;margin-top: 0px">
    <a class="navbar-brand">
        eSewa Nepal
    </a>
    <ul class="nav navbar-nav navbar-right" >
        <li><a ui-sref="home">Home</a></li>
        <li><a ui-sref="about">About</a></li>
        <li><a ui-sref="product">Products</a></li>
        <li><a ui-sref="task">Task</a></li>
        <li><a href="#">News</a></li>
        <li><a ui-sref="contact">Contact</a></li>
        <li><a ui-sref="customer">Customer Form</a></li>
        <li><a ui-sref="array">Array Task</a></li>
        <li><a ui-sref="logout">Log Out</a></li>
    </ul>
</nav>
</div>