
<!--<div ng-include src="'header.html'"></div>-->
<!--<div header-directive></div>-->
<div class="container" style="margin-top:40px" >
    <!--<h1> Welcome to {{userName}}</h1>-->
<h2><strong>{{title|uppercase}}</strong></h2>
<p style="text-justify: auto">   eSewa is a Digital Payment Portal which allows you to make online and offline payments to various merchants,
    transfer funds to various banks and many more. For example with eSewa you can topup your mobile, pay postpaid,
    landline and ADSL bills, buy bus tickets, airlines tickets and movie tickets, transfer money from one bank to another.
    Yes, eSewa registration is absolutely free for everyone.
    Any Nepalese citizen above 16 years of age can register with eSewa account via mobile or internet.
    No, you will not be charged for any payments made to the merchants.
    However, services like fund-transfer to banks, etc may incur charges depending on the policies adopted by eSewa.
</p>
<div>Images
<a  ui-sref=".gallery">go to Gallery</a>
    <div ui-view></div>
</div>
</div>
