<div class="container" style="margin-top: 50px" ng-controller="registerController">
    <form class=" form-horizontal" role="form" ng-submit="userTable(user)">

         <table class="table">
                <tr>
                    <td class="col-sm-2">
                        <label for="firstName" class="control-label">Full Name</label>
                    </td>
                    <td>
                        <div class="">
                            <input type="text" id="firstName" placeholder="First Name" ng-model="user.firstName" class="form-control" autofocus>
                            <span class="help-block">eg.: Ram</span>
                            <span>{{user.firstName}}</span>
                        </div>
                    </td>
                    <td>
                        <div class="">
                            <input type="text" id="middleName" placeholder="Middle Name"  ng-model="user.middleName" class="form-control" autofocus
                                   >
                            <span class="help-block">eg.: Bahadur </span>
                        </div>
                    </td>
                    <td>
                        <div class="">
                            <input type="text" id="lastName" placeholder="Lirst Name"  ng-model="user.lasttName" class="form-control" autofocus>
                            <span class="help-block">eg.: Chhetri </span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><label>country</label></td>
                    <td><select ng-model="user.country" class="form-control"  ng-options="country.countryName as country.countryName for country in address">
                        <option value="" ng-selected="">select country</option>
                    </select>
                        <span>{{user.country}}</span>
                    </td>
                </tr>
                <tr ng-show="user.country">
                    <td><label>Zone</label></td>
                    <td> <select ng-model="user.zone" class="form-control"  ng-options="z.Name as z.Name for z in address[indexOf(user.country)].zone"  >
                        <option value="" ng-selected="">select zone</option>

                    </select>
                        <span>{{user.zone.Name}}</span>
                    </td>
                </tr>
             <tr ng-show="user.zone">
                 <td>
                     <label>District</label>
                 </td>
                 <td>
                     <select ng-model="user.district"  class="form-control" ng-options="d as d.Name for d in address.zone[indexOf(user.zone)].District">
                         <option value="" ng-selected="">select district</option>
                     </select>
                 </td>
             </tr>
             <tr>
                 <td>
                     <label for="email">Email</label>
                 </td>
                 <td>
                     <input type="email" id="email" ng-model="user.email" placeholder="eg: abc@gmail.com" class="form-control">
                 </td>
             </tr>
             <tr>
                 <td>
                     <label for="password">Password</label>
                 </td>
                 <td>
                     <input type="password" id="password" ng-model="user.password" placeholder="eg:abc@123" class="form-control">
                 </td>
             </tr>
             <tr>
                 <td>
                     <label for="birthDate">Date of Birth</label>
                 </td>
                 <td>
                     <input type="date" id="birthDate" ng-model="user.date" class="form-control">
                 </td>
             </tr>
             <tr>
                 <td>
                     <label class="control-label col-sm-3">Gender</label>
                 </td>
                 <td>
                     <label class="radio-inline">
                         <input type="radio" id="femaleRadio"  ng-model="user.gender" value="Female">Female
                     </label>
                     <br>
                     <label class="radio-inline">
                         <input type="radio" id="maleRadio" ng-model="user.gender" value="Male">Male
                     </label>
                     <br>
                     <label class="radio-inline">
                         <input type="radio" id="uncknownRadio" ng-model="user.gender" value="Unknown">Unknown
                     </label>
                 </td>
             </tr>
             <tr>
                 <td>
                     <input type="submit" ng-click="userTable(user)" class="btn btn-success"></input>
                 </td>
             </tr>
         </table>
    </form>
<div ng-show="showUser">
    <table class="table table-bordered " style="margin-top: 5%">

        <thead>
        <!--<t> <td><p>Search <input type="text" ng-model="search.id" /></p></td></t>-->
        <th>S.N</th>
        <th>Name</th>
        <th>Country</th>
        <th>Zone</th>
        <th>Disrict</th>
        <th>Email</th>
        <th>Password</th>
        <th>DOB</th>
        <th>Gender</th>
        <th>Edit</th>
        <th>Delete</th>
        </thead>
        <tbody>
        <p>{{users}}</p>
        <tr ng-repeat="customer in users">
            <tr>
            <td>{{$index+1}}</td>
            <td>{{customer.firstName}}</td>

            <td>{{customer.country}}</td>

            <td>{{customer.zone}}</td>
            <td>{{customer.zone.District.Name}}</td>
            <td >{{customer.email}}</td>
            <td >{{customer.password}}</td>
            <td >{{customer.date}}</td>
            <td >{{customer.gender}}</td>
            <td><button type="button" class="btn btn-primary" ng-click="edit(customer.id)">Edit</button></td>
            <td>  <button type="button" class="btn btn-danger" ng-click="delete(customer.id)">Delete</button></td>
        </tr>
        </tr>
        <tr>
            <td>{{firsName}}</td>
        </tr>
        </tbody>
    </table>
</div>
</div>
